version: '3'

services:
  mongo:
    image: mongo:3.2
    command: --nojournal
    networks:
      - iotmanager
  iotmanager:
    image: telefonicaiot/iotagent-manager:1.4.0
    ports:
      - ${IOTA_SERVER_PORT}:${IOTA_SERVER_PORT}
    environment:
      - IOTA_SERVER_PORT=${IOTA_SERVER_PORT}
      - IOTA_MONGO_HOST=mongo
      - IOTA_MONGO_PORT=27017
      - IOTA_LOG_LEVEL=${IOTA_LOG_LEVEL}
      - IOTA_MONGO_REPLICASET=${IOTA_MONGO_REPLICASET}
      - IOTA_MONGO_DB=${IOTA_MONGO_DB}
    networks:
      - iotmanager
    deploy:
      mode: replicated
      restart_policy:
        condition: on-failure
    depends_on:
      - mongo

networks:
  iotmanager:
    driver: overlay
    external: false
